@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #65a054 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #65a054;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

ul.nav li a,
ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover,
ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #63A91F;
}

#logout_btn {
    padding-left: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Set the container height to the viewport height */
}

.header {
    background-color: lightgray;
    padding: 10px;
}

.main_content {
    //   flex: 1; /* This makes the main_content div expand to fill the remaining free space */
    //   background-color: #F0F7EE;
    //   padding: 10px;
    margin-left: 280px;
    /* Adjust this margin to make room for the sidebar */
    padding: 1rem 20px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // padding-top: 1rem;
    text-align: center;
    min-width: 25rem;
    font-size: 0.7rem;
}

.footer {
    background-color: lightgray;
    padding: 10px;
}

.header_content>h4 {
    display: inline-block;
    width: auto;
    font-weight: bold;
    padding: 0.5rem 0rem 0rem 0rem;
    color: #000;
    font-size: 0.8rem;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.post_caption>h6 {
    //min, actual,
    font-size: clamp(0.7rem, 1.5vw, 1.2rem);
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

#body_index {
    min-height: 100vh;
    display: flex;
    min-width: 30rem;
    justify-content: center;
    align-items: center;

    background: #F0F7EE;
}

.parent-container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin-top: 10rem;
    position: relative;
    width: 28rem;
    height: 30rem;
    background: #F0F7EE;
    color: #191919;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: #F0F7EE;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #63A91F;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #F0F7EE;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #F0F7EE;
}

.input-box i {
    position: absolute;
    right: 20px;
    color: #F0F7EE;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #63A91F;
    margin-right: 3px;
}

.remember-forgot a {
    color: #191919;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #191919;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #F0F7EE;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #191919;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.login_head {
    text-align: center;
}

/*Home Page*/
#body_home {
    background: #F0F7EE;
}

header {
    background-color: #F0F7EE;
    /* background-color:yellow; */
    padding: 0.1rem;
    text-align: center;
    font-size: 35px;
    color: black;
    border-bottom: 2px solid;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#Aktibo_Logo {
    padding-top: 0.5rem;
}

.wrapper_home {
    display: flex;
    position: relative;
}

/* Add some basic styling for the sidebar */
.sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: #333;
    /* Change as needed */
    color: #fff;
    /* Change as needed */
    overflow-y: auto;
}

/* Styling for the main content */
#main_content {
    // height: 100vh;
    margin-left: 280px;
    /* Make sure it matches the sidebar width */
    padding: 20px;
}

/* Add some basic styling for the content area */
.content {
    margin-left: 280px;
    /* Make sure it matches the sidebar width */
    padding: 20px;
}

// .main_content {
//     padding-top: 1rem;
//     text-align: center;
//     min-width: 25rem;
//     font-size: 0.7rem;
    
// }

.container-b {
    height: auto;
    background-color: pink;
    position: absolute;
    top: 100%;
}

.post {
    width: 60%;
    margin: 0 auto 1rem;
    border-bottom: 0.02rem solid #000;
    background-color: #FFFFFB;

    /* background-color:#fff; */
}

.exercises-container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 15rem;
    margin: 0 0.5rem 1rem;
}

.exercises_pic {
    text-align: center;
    justify-content: center;
    width: 15rem;
    background-color: red;
}

.instructions_exer {
    text-align: justify;
}

.article-body {
    text-align: left;
    height: 12rem;
}

.header_content {
    height: 3rem;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 0.4rem 0.6rem;
}

.containerA,
.containerB {
    text-align: center;
    background-color: red;
    height: 6rem;
    width: 10rem;
    font-size: 1.3rem;
    color: #fff;
    margin-top: 20px;
    /*display:block;*/
    display: inline-block;
}

.prof-pic {
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.bx-dots-vertical {
    padding: 0.2rem;
}

.header_content>.bx-dots-vertical {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: x-large;
    padding-top: 0.5rem;
}

.header_content .expand-width {
    flex-grow: 1;
}

.bx-dots-vertical:hover {
    color: #63A91F;
}

.post_caption {
    // height:2rem;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 0.4rem 0.6rem;

    //break word into a new line if word is too long
    word-wrap: break-word;

}

.info {
    // min-height: 1.5rem;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.info>img {
    object-fit: contain;

    //take the lesser value of the two
    width: min(100%, 25rem);
}

.interact_content {
    margin: 0;
    height: 3rem;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 0.4rem 0.6rem;
    /* background-color:; */
}

.bx-heart,
.bxs-heart,
.bx-comment-detail {
    cursor: pointer;
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
    padding-top: 0.3rem;
    /* background-color:; */
    transition: .5s;
}



.bx-heart:hover {
    color: red;
    transform: scale(1.15);
}

.bxs-heart {
    color: red;
}

.bx-comment-detail {
    margin-left: 5rem;
}

.bx-comment-detail:hover {
    color: #63A91F;
    transform: scale(1.15);
}

.containerB {
    background-color: blue;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width:720px) {

    .containerA,
    .containerB {
        width: 7rem;
        background-color: yellow;
        font-size: 2rem;
    }

    .sidebar {
        display: none;
    }


    .main_content {
        padding-left: 0;
    }





}

@media screen and (max-width:540px) {

    .wrapper {
        padding-top: 20%;


        box-sizing: border-box;
    }

    .post {
        width: 22rem;
    }


}

@media screen and (max-width:400px) {



    .wrapper {
        padding-top: 10rem;

        box-sizing: border-box;
    }

}


.comments-list {
    margin-top: 20px;
}

/* Styles for the comment input */
.comment-input {
    margin-top: 10px;
    display: flex;
}

.comment-input input {
    flex: 1;
    padding: 5px;
}

.comment-input button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.comment-section {
    text-align: left;
    font-size: 0.7rem;


}

.usr-profile {
    padding: 0.5rem 1rem 0rem 1rem;
}


.usr-name {
    padding: 0rem 1rem 0rem 0.5rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.usr-comment {
    padding: 0rem 1rem 0.5rem 0.5rem;
    text-align: center;
}

.bx-send:hover {
    transform: scale(1.2);
    /* Enlarge the icon on hover */
    animation: tada 0.5s infinite;
    /* Apply the tada animation */
}

@keyframes tada {
    0% {
        transform: scale(1);
    }

    10%,
    20% {
        transform: scale(1.3) rotate(-3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale(1.3) rotate(3deg);
    }

    40%,
    60%,
    80% {
        transform: scale(1.3) rotate(-3deg);
    }

    100% {
        transform: scale(1);
    }
}

.comment-box {
    padding: 1rem;
    text-align: left;
}

.comment-section {
    max-height: 20rem;
    overflow-y: auto;
}

//ExerciseForms Styling
.formPage {
    padding: 20px;
    /* Add padding for spacing inside the box */
    border: 1px solid #000;
    /* Add a border for the box */
    border-radius: 5px;
    /* Add rounded corners to the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow for depth */
    width: 80%;
    height: 80%;
}

/* charts CSS */
.grid-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
    width: 100vw;
    height: 100vh;
    flex: 1;
    
    // margin: 1px, 1px, 1px, 1px;
}

//modified grid-container
.gridd-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
    max-width: 80vw;
    height: 90vh;
    flex: 1;
    gap: 1em;
    // margin: 1px, 1px, 1px, 1px;
}

.chart-container {
    display: flex;
    max-width: 100%;
    margin: 2em 1em 1em 2em;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid #63A91F;
}

//modified chart-container
.chartt-container {
    display: flex;
    max-width: 100%;
    position: relative;

    //top-bottom left-right
    margin: .5em .5em;
    padding: .5em .5em;

    align-items: center;
    justify-content: center;
    overflow: visible;
    // border-radius: 25px;
    // border: 2px solid #63A91F;
}

.chartt-container-buttons {
    // display: flex;
    // max-width: 100%;
    // position: relative;

    // //top-bottom left-right
    // margin: .5em .5em;
    // padding: .5em .5em;

    // align-items: center;
    // justify-content: center;
    // overflow: visible;
    // // border-radius: 25px;
    // // border: 2px solid #63A91F;
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    max-width: 100%;
    position: relative;
    margin: .5em .5em; /* Adjust margins as needed */
    padding: .5em .5em; /* Adjust padding as needed */
    // align-items: center;
     justify-content: center;
    overflow: visible;
}

.food_record {
    border-radius: 20px;
}

.chart-green-border {
    border-radius: 25px;
    border: 1px solid #63A91F;
    padding: 1em 2em;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
}

.chart-container1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 100%;
    vertical-align: middle;
    padding: 5px 20px 10px 10px;
    border-radius: 25px;
    border: 2px solid #63A91F;
}

.chart-containercal {
    // display: inline-block;
    margin: 1.5em;
    padding: 1em;
    // align-items: center;
    // justify-content: center;
    // position: relative;
    // max-height: 100%;
    // vertical-align: middle;
    // padding: 5px 20px 10px 10px;
}

.chart-container2 {
    display: inline-block;
    margin: 10px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 100%;
    vertical-align: middle;
    padding: 10px 20px 10px 10px;
    border-radius: 25px;
    border: 2px solid #63A91F;
}

.charts-1 {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    // margin: 10px 5px 5px 5px;
}

//style for div inside charts-1
.charts-1 div {
    padding: .3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts-1 h6 {
    font-size: clamp(.5rem, 1.3vw + .5rem, 1.2rem);
    font-family: sans-serif;
    margin: auto;
}

.charts-large {
    // margin: 0 auto;
    // clear: both;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.charts-large div {
    padding: .3em;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//add to class to all elements whose children elements are
//in vertical direction
.flex-column {
    flex-direction: column;
}

//add to class to add little extra padding
.padding-one {
    padding: 1em;
}

.largeCharttext {
    font: .9rem sans-serif;
}

.charts-small {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.charts-small div {
    padding: .3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calhead button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}

.date {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.date:hover,
.date.active {
    background-color: #FF5869;
    color: #FFF;
}

.date.inactive {
    color: #d2d2d2;
}

.date.inactive:hover {
    color: #FFF;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

// Styles For 3 Dots

.more {
    cursor: pointer;
    border: none;
    background: transparent;
}

.more span {
    display: block;
    width: .25rem;
    height: .25rem;
    background: #363636;
    border-radius: 50%;
    pointer-events: none;
}

.more span:not(:last-child) {
    margin-bottom: .125rem;
}

.dropout {
    z-index: 9001;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.dropout ul {
    position: absolute;
    top: -1.1rem;
    right: 1.5rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.12s ease;
}

.dropout.active ul {
    border: #000;
    border-width: 1px;
    border-style: solid;
    transform: scaleX(1);
}

// from gpt
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 35px;
    margin-right: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dropdown-content ul li {
    padding: 8px;
    text-align: left;
}

#dropdown-content ul li:hover {
    background-color: #ddd;
}

.bx-dots.vertical {
    cursor: pointer;

}


modal exercise .modal {
    // display: none; /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
/* Modal Styles */
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.videoBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: black;
    border: none;
    background-color: white;
}

// .closeVideoBtn span{
//     border:none;
//     background-color: black;
// }
.row {
    display: flex;
    padding-left: 10px;
}

.row bg-white {
    display: flex;
    justify-content: space-between;
}

.col {
    white-space: nowrap;
    overflow: hidden;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.form-column {
    flex: 50%;
    padding: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    text-align: left;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="url"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}


.button-group {
    text-align: right;
}

.cancel-button,
.save-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.save-button {
    background-color: #63A91F;
    color: #fff;
}

//Tags
.tag-box ul {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

.tag-box ul li {
    display: flex;
    color: #333;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;
    text-align: left;
}

.tag-box ul .instruction-input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.tag-box ul .tags-input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.form-group p {
    text-align: left;
}

.ins-details {
    padding: 5px;
    text-align: right;
}

.details {
    // padding: 5px;
    // display: flex;
    // justify-content: flex-end;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details p {
    margin: 0;
}


.ins-details button {
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 5px;
    background: red;
    transition: background 0.3s ease;
}

.add-tag {
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 5px;
    background: #63A91F;
    transition: background 0.3s ease;
}

.remove-tag {
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 5px;
    background: red;
    transition: background 0.3s ease;
}

.tag-box ul li i {
    display: flex;
    height: 20px;
    width: 20px;
    color: #808080;
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.toast-container {
    position: relative;
    top: 10px;
    right: 10px;
}

.exercise-list {
    padding: 1rem;
    height: 100%;
    overflow: auto;
    width: 100vw;
}

.dropdown-content p {
    padding: 8px;
    margin-bottom: 0rem;

}

.dropdown-content hr {
    margin: 0;

}

//Calendar



#spinner {
    display: block;
    width: 200px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#spinner2 {
    display: block;
    width: 200px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#exerciseListContainer .col {
    font-size: 14px;
}



.input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    pointer-events: pointer;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

.modal-OTP {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-container{
    cursor: pointer;
}